/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                              &kp NUMBER_6      &kp NUMBER_7     &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp MINUS
&kp TAB    &kp Q         &kp W         &kp F         &kp P         &kp B                                     &kp J             &kp L            &kp U         &kp Y         &kp SEMI      &kp BSLH
&kp ESC    &kp A         &kp R         &kp S         &kp T         &kp G                                     &kp M             &kp N            &kp E         &kp I         &kp DOT       &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C         &kp D         &kp V                                     &kp K             &kp H            &kp COMMA     &kp DOT       &kp FSLH      &kp RIGHT_SHIFT
&kp LCTRL  &kp LALT      &kp LMETA     &kp LALT                                                                                                 &kp RALT      &kp RGUI      &kp RALT      &kp RCTRL
                                                     &lt 3 ENTER   &lt 1 SPACE   &kp LCTRL       &kp RCTRL   &mt RSHIFT SPACE  &lt 2 BACKSPACE
                                                                   &lt 5 DELETE  &kp LEFT_SHIFT  &kp RSHIFT  &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1            &kp F2             &kp F3          &kp F4           &kp F5                           &kp F6     &kp F7        &kp F8                &kp F9                 &kp F10         &kp F11
&trans  &trans            &kp STAR           &kp PLUS        &kp MINUS        &kp PERCENT                      &trans     &kp QUESTION  &kp LESS_THAN         &kp GREATER_THAN       &trans          &kp F12
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp EXCLAMATION                  &kp COLON  &kp TILDE     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE  &trans
&trans  &kp DOLLAR        &kp HASH           &kp CARET       &kp AMPERSAND    &trans                           &trans     &kp AT_SIGN   &kp PIPE              &kp EQUAL              &trans          &trans
&trans  &trans            &trans             &trans                                                                                     &trans                &trans                 &trans          &trans
                                                             &trans           &trans           &trans  &trans  &trans     &trans
                                                                              &trans           &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans           &trans           &trans           &kp KP_NUMBER_0  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans           &trans
&trans  &trans  &trans  &trans                                                           &trans           &trans           &trans           &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&bootloader  &to 1         &to 2               &to 3        &to 4                &trans                  &trans         &trans          &trans          &trans           &to 0       &trans
&trans       &trans        &trans              &trans       &trans               &trans                  &kp PAGE_DOWN  &kp HOME        &kp UP_ARROW    &kp INSERT       &trans      &trans
&trans       &kp CAPSLOCK  &kp LG(LEFT_ARROW)  &kp LG(TAB)  &kp LG(RIGHT_ARROW)  &trans                  &trans         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END     &kp PRINTSCREEN
&trans       &trans        &trans              &trans       &trans               &trans                  &kp PAGE_UP    &trans          &trans          &trans           &kp K_MENU  &trans
&trans       &trans        &trans              &trans                                                                                   &trans          &trans           &trans      &trans
                                                            &trans               &trans  &trans  &trans  &trans         &trans
                                                                                 &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &trans     &trans  &trans     &trans   &trans    &trans
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T                      &kp Y      &kp U   &kp I      &kp O    &kp P     &trans
&trans  &kp A   &kp S   &kp D   &kp F   &kp G                      &kp H      &kp J   &kp K      &kp L    &kp SEMI  &trans
&trans  &kp Z   &kp X   &kp C   &kp V   &kp B                      &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
&trans  &trans  &trans  &trans                                                        &trans     &trans   &trans    &trans
                                &trans  &kp SPACE  &trans  &trans  &kp SPACE  &trans
                                        &trans     &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans        &trans             &trans              &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &kp C_VOLUME_UP    &trans              &trans                  &trans  &trans  &trans  &trans  &trans  &kp K_SLEEP
&trans  &trans  &kp C_REWIND  &kp C_PLAY_PAUSE   &kp C_FAST_FORWARD  &trans                  &trans  &trans  &trans  &trans  &trans  &kp C_POWER
&trans  &trans  &kp C_MUTE    &kp C_VOLUME_DOWN  &trans              &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &trans                                                                         &trans  &trans  &trans  &trans
                                                 &trans              &trans  &trans  &trans  &trans  &trans
                                                                     &trans  &trans  &trans  &trans
            >;
        };
    };
};
